# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# IDE
.idea/
*.xcuserdata/

# Logs
logs_*.txt
